
body{
    background-color: bisque;
}



/*---------Header section ----------*/
.HeaderSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
    font-size: 20px;
    top: 0px;

}

.HeaderSec .logo {
    color: burlywood;
    font-family: fantasy;
}

.HeaderSec .Hlinks {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 300px;
}

.HeaderSec a {
    text-decoration: none;
    color: black;
}

/*----------End header section---------*/


/*-----------Main body section-----------*/
.bodyText {
    justify-content: left;
    padding: 100px;
    margin: 30px;

}

.bodyText .detail {
    padding: 20px;
    z-index: 1;
    box-shadow: inset;
}

.bodyText h1 {
    font-size: 80px;
    font-weight: 200;
    color: orange;
}

/*-----------End main body section-----------*/


/*-----------Footer section-----------*/
.Flinks, .servLink {
    display: flex;
    justify-content: space-between;

}

.Flinks .servLink {
    width: 50%;
    padding: 10px;
}

.Flinks .servLink a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

/*-----------End Footer section-----------*/