/*Header section styles*/
.HeaderSec{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
}

.Hlinks{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: right;
    gap: 10%;
    margin: 2%;
}

.logo{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 2%;
}