/*Header section styles*/
.HeaderSec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
}

.Hlinks{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: right;
    gap: 10%;
    margin-top:2%;
    margin-bottom:2%;
    margin-right: 5%;
}

.Hlinks a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.Hlinks a:hover{
    color: red;
    text-decoration: underline;
}

.logo{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin-top:2%;
    margin-bottom:2%;
    margin-left: 5%;
}
/*End Header section styles*/

/*Begin body styling*/


/*End body styling*/

/*Begin footer styling*/


/*End footer styling*/