/*Header section styles*/
.HeaderSec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    color: white;
}

.Hlinks{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: right;
    gap: 10%;
    margin-top:2%;
    margin-bottom:2%;
    margin-right: 5%;
}

.Hlinks a{
    text-decoration: none;
    font-size: 90%;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.Hlinks a:hover{
    color: red;
    text-decoration: underline;
}

.logo{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin-top:2%;
    margin-bottom:2%;
    margin-left: 5%;
}
/*End Header section styles*/

/*Begin body styling*/
body{
    background-image: url('./assets/computer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: white;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

/*End body styling*/

/*Begin footer styling*/


/*End footer styling*/
